{% extends 'base.html' %}

{% block title %}
    {{super () }}
    Ups! 404 No lo encontramos
{% endblock %}

{% block content %}
    <br>    
    <h1 class="textoTitulo">Lo sentimos no encontramos lo que buscabas</h1>
    <div class="foto1">
        <img src="{{ url_for('static', filename='images/BNPP_CARDIF_BL_V_Q.png') }}" alt="BNP" width="40">
    </div>
    <div class="foto2">
        <img src="{{ url_for('static', filename='images/404_error.png') }}" alt="img404">
    </div>
    <br>
    <p><h5>{{error}}</h5></p>
    
{% endblock %}